<!DOCTYPE  html>
<html lang="en" ng-app="indexApp">
<head>
    <title>ONION</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="resources/lib/vendor/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="resources/lib/style.css"></link>
    <script src="resources/lib/vendor/angular.js"></script>
    <script src="resources/lib/app.js"></script>
    <!---controllers -->
    <script src="resources/lib/controllers/boundaryCtrl.js"></script>
    <script src="resources/lib/controllers/datasetCtrl.js"></script>
    <script src="resources/lib/controllers/tabCtrl.js"></script>
    <script src="resources/lib/controllers/sliderCtrl.js"></script>
    <!---directives -->
    <script src="resources/lib/directives/boundary.js"></script>
    <script src="resources/lib/directives/dataplane.js"></script>
    <script src="resources/lib/directives/stringToNumber.js"></script>
    <!---services -->
    <script src="resources/lib/services/updateBoundaryGraph.js"></script>
    <script src="resources/lib/services/getConstLiers.js"></script>
    <script src="resources/lib/services/updateKR.js"></script>
    <script src="resources/lib/vendor/ui-bootstrap-tpls-0.13.1.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <!--<script src="resources/lib/d3functions.js"></script>-->
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Outlier Analytics Research</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#"><b>Home</b></a></li>
                <li class="active"><a href="#"><b>Outlier Exploration Operations</b></a></li>
                <li><a href="#"><b>Wiki</b></a></li>
                <li><a href="#"><b>About us</b></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" >
    <div class="col-md-6">
        <div  ng-controller="TabCtrl">
            <tabset class="tabs" >
                <tab heading="OD" ng-controller="sliderCtrl">
                    <div>
                        <form class="row-fluid" ng-submit="updateKRValue()" >
                            <p>K Value: </p>
                            {{kvalue}}
                            <input name="kvaluerange" ng-init="updateKRValue()" type="range" min="1" max="10" ng-model="kvalue" ng-mouseup="updateKRValue()"></input>
                            <input type="number" min="0" max="10" class="string-to-number" ng-model="kvalue"></input>
                            <p>R Value: </p>
                            {{rvalue}}
                            <input  name="rvaluerange" type="range" min="1" max="10000" ng-model="rvalue" ng-mouseup="updateKRValue()"></input>
                            <input type="number" min="0" max="10000" class="string-to-number" ng-model="rvalue" ></input>
                            <br></br>
                            <p></p>
                            <button type="submit" class="btn btn-primary"> Update</button>
                        </form>
                    </div>
                </tab>
                <tab heading="PSE" ng-controller="boundaryCtrl">
                    <boundary></boundary>
                </tab>
                <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
                    {{tab.content}}
                </tab>
            </tabset>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <tabset class="tabs"  ng-controller="datasetCtrl">
                <tab heading="Data Set">
                    <dataplane></dataplane>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<!--<div class="row">-->
<!--<div class="col-md-4">-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>-->
<!--</div>-->
<!--<div class="clearfix visible-lg"></div>-->
<!--</div>-->


</body>
</html>